<launch>
        
    <node pkg="Robotics_Project_02" type="move_control" name="spawn_teleop_keyboard" output="screen">
      <remap from="cmd_vel" to="base_controller/command" />

      <param name="walk_vel" value="2.0" />
      <param name="run_vel" value="1.0" />
      <param name="yaw_rate" value="1.0" />
      <param name="yaw_run_rate" value="1.5" />
    </node>
</launch>

